.rl-icon-button {
    padding-inline: 0;
    aspect-ratio: 1;

    &[data-size='sm'] {
        width: var(--control-height-sm);
    }

    &[data-size='md'] {
        width: var(--control-height-md);
    }

    &[data-size='lg'] {
        width: var(--control-height-lg);
    }

    svg {
        width: 1rem;
        height: 1rem;
    }
}