@if (isVisible() && screenPosition(); as pos) {
    <div
        class="floating-actions"
        [style.left.px]="pos.x"
        [style.top.px]="pos.y">
        @for (action of actions(); track action.id) {
            <button
                mat-mini-fab
                [color]="action.color ?? 'primary'"
                [matTooltip]="action.tooltip"
                matTooltipPosition="above"
                (click)="onActionClick(action.id)">
                <mat-icon>{{ action.icon }}</mat-icon>
            </button>
        }
    </div>
}