:host {
    display: block;
}

.rl-combobox {
    position: relative;
    display: flex;
    align-items: center;

    .rl-input {
        padding-inline-end: var(--space-8);
    }
}

.rl-combobox-chevron {
    position: absolute;
    inset-inline-end: var(--space-2);
    color: var(--text-tertiary);
    pointer-events: none;
}