:host {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    &.scene-hovering {
        cursor: pointer;
    }
}